# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE / Editor folders and files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Env variables
.env
.env.local

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints
